In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\admin\anaconda3\lib\site-packages (4.0.34)

In [2]:
import pyodbc
import pandas as pd

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
try:
    conn_str = pyodbc.connect('DRIVER={SQL Server};SERVER=RASHMITA\\SQLEXPRESS;DATABASE=Netflix;Trusted_connection=yes;')
    print('connected successfully')
except:
    print('connection failed')

connected successfully

In [5]:
# Fetch the Data frames movies 
query = "SELECT * FROM movies"
movies_df = pd.read_sql(query, conn_str)
movies_df.head(5)

,Show_Id,Category,Title,Director,Cast,Country
0,s10,Movie,1920 horror,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India
1,s79,Movie,2 States,Abhishek Varman,"Alia Bhatt, Arjun Kapoor, Ronit Roy, Amrita Si...",India
2,s101,Movie,3 Idiots,Rajkumar Hirani,"Aamir Khan, Kareena Kapoor, Madhavan, Sharman ...",India
3,s137,Movie,7 Khoon Maaf,Vishal Bhardwaj,"Priyanka Chopra, Neil Nitin Mukesh, John Abrah...",India
4,s173,Movie,A Flying Jatt,Remo D'Souza,"Tiger Shroff, Jacqueline Fernandez, Nathan Jon...",India

In [6]:
print(movies_df.columns)
print(movies_df.dtypes)

Index(['Show_Id', 'Category', 'Title', 'Director', 'Cast', 'Country'], dtype='object')
Show_Id     object
Category    object
Title       object
Director    object
Cast        object
Country     object
dtype: object

In [12]:
# Fetch the Data frames dates 
query2 = "SELECT * FROM dates"
dates_df= pd.read_sql(query2, conn_str)
dates_df.head()

,Show_Id,Category,Title,Release_Date,Duration,Type
0,s10,Movie,1920 horror,2017-12-15,143 min,"Horror Movies, International Movies, Thrillers"
1,s79,Movie,2 States,2018-08-04,143 min,"Comedies, Dramas, International Movies"
2,s101,Movie,3 Idiots,2019-08-01,164 min,"Comedies, Dramas, International Movies"
3,s137,Movie,7 Khoon Maaf,2018-08-02,148 min,"Dramas, International Movies, Thrillers"
4,s173,Movie,A Flying Jatt,2017-11-15,142 min,"Action & Adventure, International Movies, Sci-..."

In [13]:
# Que 1 Create a dataframes of each type of movie

dates_df['Type'] = dates_df['Type'].str.split(', ') 
exploded_df= dates_df.explode('Type') 
exploded_df['Type'] = exploded_df['Type'].str.strip() 
type_dfs = {movie_type: df for movie_type, df in exploded_df.groupby('Type')}

In [14]:
type_dfs.keys()

dict_keys(['Action & Adventure', 'Children & Family Movies', 'Classic Movies', 'Comedies', 'Cult Movies', 'Dramas', 'Horror Movies', 'Independent Movies', 'International Movies', 'Music & Musicals', 'Romantic Movies', 'Sci-Fi & Fantasy', 'Sports Movies', 'Thrillers'])

In [15]:
# Action_Adventure_df = type_dfs['Action & Adventure']
Action_Adventure_df = type_dfs.get('Action & Adventure')
Action_Adventure_df

,Show_Id,Category,Title,Release_Date,Duration,Type
4,s173,Movie,A Flying Jatt,2017-11-15,142 min,Action & Adventure
5,s252,Movie,A Wednesday,2018-11-01,103 min,Action & Adventure
13,s356,Movie,Aiyaary,2018-05-15,158 min,Action & Adventure
15,s369,Movie,Ala Vaikunthapurramuloo,2020-02-27,162 min,Action & Adventure
16,s447,Movie,Amar Akbar Anthony,2019-12-31,172 min,Action & Adventure
17,s508,Movie,Andaz Apna Apna,2020-05-11,160 min,Action & Adventure
21,s655,Movie,Baadshaho,2017-10-16,135 min,Action & Adventure
22,s656,Movie,Baaghi,2018-08-04,127 min,Action & Adventure
23,s657,Movie,Baahubali 2: The Conclusion (Hindi Version),2017-08-07,165 min,Action & Adventure
24,s661,Movie,Baahubali: The Beginning (Hindi Version),2017-08-07,159 min,Action & Adventure
27,s757,Movie,Barsaat,2018-04-01,166 min,Action & Adventure
28,s775,Movie,Bbuddah Hoga Terra Baap,2020-07-05,116 min,Action & Adventure
38,s1060,Movie,Boss,2020-07-05,139 min,Action & Adventure
46,s1478,Movie,Company,2018-03-01,137 min,Action & Adventure
53,s1691,Movie,Delhi Belly,2021-01-10,101 min,Action & Adventure
54,s1733,Movie,Dhamaal,2019-12-31,128 min,Action & Adventure
60,s1765,Movie,Dilwale,2017-02-01,154 min,Action & Adventure
63,s1808,Movie,Don,2019-12-15,169 min,Action & Adventure
72,s2235,Movie,Force 2,2017-02-27,123 min,Action & Adventure
73,s2306,Movie,Fukrey,2019-12-15,135 min,Action & Adventure
74,s2327,Movie,Gabbar Is Back,2020-07-05,128 min,Action & Adventure
76,s2394,Movie,Ghayal,2019-12-31,163 min,Action & Adventure
84,s2644,Movie,Haseena Maan Jaayegi,2018-03-01,151 min,Action & Adventure
85,s2693,Movie,Hello Brother,2021-01-04,126 min,Action & Adventure
86,s2704,Movie,Hera Pheri,2019-12-31,156 min,Action & Adventure
88,s2744,Movie,Himmatwala,2018-11-01,140 min,Action & Adventure
97,s3111,Movie,Jagga Jasoos,2018-10-01,155 min,Action & Adventure
99,s3196,Movie,Jodhaa Akbar,2018-10-01,214 min,Action & Adventure
101,s3235,Movie,Judwaa 2,2018-03-01,145 min,Action & Adventure
104,s3277,Movie,Kaalia,2019-12-31,173 min,Action & Adventure
118,s3456,Movie,Krishna Cottage,2019-05-31,124 min,Action & Adventure
123,s3525,Movie,Lakshya,2019-12-15,185 min,Action & Adventure
129,s3873,Movie,Main Hoon Na,2018-04-01,171 min,Action & Adventure
133,s4165,Movie,Mohenjo Daro,2018-08-02,168 min,Action & Adventure
135,s4396,Movie,Namak Halaal,2019-12-31,171 min,Action & Adventure
140,s4637,Movie,One 2 Ka 4,2017-03-15,160 min,Action & Adventure
141,s4962,Movie,Prem Ratan Dhan Payo,2020-06-25,164 min,Action & Adventure
145,s5053,Movie,Race,2018-10-01,155 min,Action & Adventure
146,s5054,Movie,Race 2,2018-10-01,139 min,Action & Adventure
147,s5061,Movie,Raees,2017-05-26,143 min,Action & Adventure

In [16]:
Children_Family_Movies_df = type_dfs.get('Children & Family Movies')
Children_Family_Movies_df

,Show_Id,Category,Title,Release_Date,Duration,Type
10,s301,Movie,Action Replayy,2020-05-11,129 min,Children & Family Movies

In [17]:
Classic_Movies_df = type_dfs.get('Classic Movies')
Classic_Movies_df

,Show_Id,Category,Title,Release_Date,Duration,Type
16,s447,Movie,Amar Akbar Anthony,2019-12-31,172 min,Classic Movies
36,s1017,Movie,Bobby,2019-12-31,168 min,Classic Movies
45,s1386,Movie,Chupke Chupke,2019-12-31,127 min,Classic Movies
89,s2860,Movie,Hum Aapke Hain Koun,2020-02-01,193 min,Classic Movies
124,s3526,Movie,Lal Patthar,2017-07-01,153 min,Classic Movies

In [18]:
Comedies_df = type_dfs.get('Comedies')
Comedies_df

,Show_Id,Category,Title,Release_Date,Duration,Type
1,s79,Movie,2 States,2018-08-04,143 min,Comedies
2,s101,Movie,3 Idiots,2019-08-01,164 min,Comedies
10,s301,Movie,Action Replayy,2020-05-11,129 min,Comedies
14,s359,Movie,Ajab Prem Ki Ghazab Kahani,2020-10-25,150 min,Comedies
15,s369,Movie,Ala Vaikunthapurramuloo,2020-02-27,162 min,Comedies
...,...,...,...,...,...,...
137,s4609,Movie,Om Shanti Om,2018-04-01,169 min,Comedies
140,s4637,Movie,One 2 Ka 4,2017-03-15,160 min,Comedies
142,s5015,Movie,Pyaar Ka Punchnama,2017-05-01,149 min,Comedies
143,s5016,Movie,Pyaar Ka Punchnama 2,2020-07-05,136 min,Comedies
144,s5017,Movie,Pyaar Ke Side Effects,2019-02-15,120 min,Comedies

In [19]:
Cult_movies_df = type_dfs.get('Cult Movies')
Cult_movies_df

   Show_Id Category            Title Release_Date Duration         Type
17    s508    Movie  Andaz Apna Apna   2020-05-11  160 min  Cult Movies
61   s1778    Movie     Disco Dancer   2020-10-12  134 min  Cult Movies

In [20]:
Dramas_movies_df = type_dfs.get('Dramas')
Dramas_movies_df

    Show_Id Category                 Title Release_Date Duration    Type
1       s79    Movie              2 States   2018-08-04  143 min  Dramas
2      s101    Movie              3 Idiots   2019-08-01  164 min  Dramas
3      s137    Movie          7 Khoon Maaf   2018-08-02  148 min  Dramas
5      s252    Movie           A Wednesday   2018-11-01  103 min  Dramas
7      s272    Movie             Aarakshan   2019-12-31  164 min  Dramas
..      ...      ...                   ...          ...      ...     ...
140   s4637    Movie            One 2 Ka 4   2017-03-15  160 min  Dramas
141   s4962    Movie  Prem Ratan Dhan Payo   2020-06-25  164 min  Dramas
142   s5015    Movie    Pyaar Ka Punchnama   2017-05-01  149 min  Dramas
143   s5016    Movie  Pyaar Ka Punchnama 2   2020-07-05  136 min  Dramas
147   s5061    Movie                 Raees   2017-05-26  143 min  Dramas

[95 rows x 6 columns]

In [21]:
horror_movies_df = type_dfs.get('Horror Movies')
horror_movies_df

    Show_Id Category            Title Release_Date Duration           Type
0       s10    Movie      1920 horror   2017-12-15  143 min  Horror Movies
32     s893    Movie            Bhoot   2019-12-31  114 min  Horror Movies
48    s1622    Movie   Darna Mana Hai   2019-08-01  116 min  Horror Movies
103   s3275    Movie             Kaal   2020-04-01  126 min  Horror Movies
118   s3456    Movie  Krishna Cottage   2019-05-31  124 min  Horror Movies

In [22]:
International_Movies_df = type_dfs.get('International Movies')
International_Movies_df

,Show_Id,Category,Title,Release_Date,Duration,Type
0,s10,Movie,1920 horror,2017-12-15,143 min,International Movies
1,s79,Movie,2 States,2018-08-04,143 min,International Movies
2,s101,Movie,3 Idiots,2019-08-01,164 min,International Movies
3,s137,Movie,7 Khoon Maaf,2018-08-02,148 min,International Movies
4,s173,Movie,A Flying Jatt,2017-11-15,142 min,International Movies
...,...,...,...,...,...,...
143,s5016,Movie,Pyaar Ka Punchnama 2,2020-07-05,136 min,International Movies
144,s5017,Movie,Pyaar Ke Side Effects,2019-02-15,120 min,International Movies
145,s5053,Movie,Race,2018-10-01,155 min,International Movies
146,s5054,Movie,Race 2,2018-10-01,139 min,International Movies
147,s5061,Movie,Raees,2017-05-26,143 min,International Movies

In [23]:
Independent_movies_df = type_dfs.get('Independent Movies')
Independent_movies_df

    Show_Id Category    Title Release_Date Duration                Type
112   s3296    Movie    Kalki   2018-03-01   41 min  Independent Movies
128   s3843    Movie  Madaari   2017-02-17  134 min  Independent Movies

In [24]:
Music_Musicals_df = type_dfs.get('Music & Musicals')
Music_Musicals_df

,Show_Id,Category,Title,Release_Date,Duration,Type
8,s279,Movie,ABCD 2,2018-11-01,146 min,Music & Musicals
12,s355,Movie,Aitraaz,2018-03-01,153 min,Music & Musicals
14,s359,Movie,Ajab Prem Ki Ghazab Kahani,2020-10-25,150 min,Music & Musicals
27,s757,Movie,Barsaat,2018-04-01,166 min,Music & Musicals
39,s1087,Movie,Break Ke Baad,2020-11-19,108 min,Music & Musicals
57,s1760,Movie,Dil Hai Tumhaara,2018-04-01,176 min,Music & Musicals
59,s1762,Movie,Dil Vil Pyaar Vyaar,2018-10-01,145 min,Music & Musicals
67,s1939,Movie,Ek Khiladi Ek Haseena,2019-04-15,141 min,Music & Musicals
71,s2201,Movie,Fiza,2018-08-02,163 min,Music & Musicals
77,s2471,Movie,Golmaal Returns,2020-09-28,135 min,Music & Musicals
90,s2861,Movie,Hum Saath-Saath Hain,2018-01-01,176 min,Music & Musicals
91,s2863,Movie,Humko Deewana Kar Gaye,2017-10-22,149 min,Music & Musicals
93,s3065,Movie,Ishq Vishk,2020-09-28,129 min,Music & Musicals
94,s3094,Movie,Jaane Tu... Ya Jaane Na,2021-01-10,147 min,Music & Musicals
96,s3096,Movie,Jab We Met,2020-09-28,143 min,Music & Musicals
98,s3164,Movie,Jhankaar Beats,2019-04-15,131 min,Music & Musicals
113,s3298,Movie,Kaminey,2018-10-01,128 min,Music & Musicals
117,s3411,Movie,Kismat Konnection,2018-10-01,145 min,Music & Musicals
122,s3522,Movie,Lagaan,2021-01-10,224 min,Music & Musicals
125,s3625,Movie,Life in a ... Metro,2018-11-01,126 min,Music & Musicals
131,s3875,Movie,Maine Pyaar Kyun Kiya,2019-12-31,137 min,Music & Musicals
132,s3876,Movie,Maine Pyar Kiya,2018-01-01,192 min,Music & Musicals
138,s4634,Movie,Once Upon a Time in Mumbaai,2019-05-15,133 min,Music & Musicals
139,s4635,Movie,Once Upon a Time in Mumbai Dobaara!,2019-05-16,142 min,Music & Musicals
145,s5053,Movie,Race,2018-10-01,155 min,Music & Musicals
146,s5054,Movie,Race 2,2018-10-01,139 min,Music & Musicals

In [25]:
Romantic_movies_df = type_dfs.get('Romantic Movies')
Romantic_movies_df

,Show_Id,Category,Title,Release_Date,Duration,Type
12,s355,Movie,Aitraaz,2018-03-01,153 min,Romantic Movies
29,s867,Movie,Bewafaa,2019-07-21,149 min,Romantic Movies
30,s883,Movie,Bhagam Bhag,2019-12-31,151 min,Romantic Movies
34,s988,Movie,Blood Money,2020-07-05,110 min,Romantic Movies
35,s1005,Movie,BluffMaster!,2021-01-08,129 min,Romantic Movies
40,s1258,Movie,Chaahat,2017-05-01,148 min,Romantic Movies
41,s1263,Movie,Chal Mere Bhai,2019-12-31,132 min,Romantic Movies
42,s1266,Movie,Chalte Chalte,2018-07-01,166 min,Romantic Movies
58,s1761,Movie,Dil Se,2018-03-01,166 min,Romantic Movies
59,s1762,Movie,Dil Vil Pyaar Vyaar,2018-10-01,145 min,Romantic Movies
70,s2152,Movie,Fida,2020-10-13,117 min,Romantic Movies
81,s2576,Movie,Haider,2018-08-02,154 min,Romantic Movies
82,s2584,Movie,Half Girlfriend,2020-01-02,129 min,Romantic Movies
91,s2863,Movie,Humko Deewana Kar Gaye,2017-10-22,149 min,Romantic Movies
92,s2864,Movie,Humpty Sharma Ki Dulhania,2020-04-01,131 min,Romantic Movies
95,s3095,Movie,Jab Harry Met Sejal,2017-12-02,142 min,Romantic Movies
100,s3234,Movie,Judwaa,2019-12-31,133 min,Romantic Movies
105,s3281,Movie,Kabhi Alvida Naa Kehna,2020-04-01,192 min,Romantic Movies
108,s3284,Movie,Kabir Singh,2019-09-19,171 min,Romantic Movies
109,s3285,Movie,Kacche Dhaagey,2017-11-01,120 min,Romantic Movies
126,s3744,Movie,Love Aaj Kal,2020-04-27,140 min,Romantic Movies
127,s3809,Movie,Luck by Chance,2019-12-15,156 min,Romantic Movies
134,s4274,Movie,Mujhse Shaadi Karogi,2019-12-31,158 min,Romantic Movies
144,s5017,Movie,Pyaar Ke Side Effects,2019-02-15,120 min,Romantic Movies

In [26]:
Sci_Fi_Fantasy_df = type_dfs.get('Sci-Fi & Fantasy')
Sci_Fi_Fantasy_df

,Show_Id,Category,Title,Release_Date,Duration,Type
4,s173,Movie,A Flying Jatt,2017-11-15,142 min,Sci-Fi & Fantasy
43,s1268,Movie,Chamatkar,2017-05-15,164 min,Sci-Fi & Fantasy
121,s3482,Movie,Kyo Kii... Main Jhuth Nahin Bolta,2019-05-16,150 min,Sci-Fi & Fantasy

In [27]:
Sports_movies_df = type_dfs.get('Sports Movies')
Sports_movies_df

    Show_Id Category               Title Release_Date Duration           Type
47    s1596    Movie              Dangal   2017-06-21  161 min  Sports Movies
69    s2150    Movie  Ferrari Ki Sawaari   2019-08-01  133 min  Sports Movies
110   s3288    Movie         Kai Po Che!   2018-11-01  120 min  Sports Movies

In [28]:
Thrillers_df = type_dfs.get('Thrillers')
Thrillers_df

    Show_Id Category                    Title Release_Date Duration       Type
0       s10    Movie              1920 horror   2017-12-15  143 min  Thrillers
3      s137    Movie             7 Khoon Maaf   2018-08-02  148 min  Thrillers
6      s270    Movie                    Aamir   2018-11-01   95 min  Thrillers
20     s590    Movie               Article 15   2019-09-06  125 min  Thrillers
31     s892    Movie          Bhool Bhulaiyaa   2017-10-22  148 min  Thrillers
32     s893    Movie                    Bhoot   2019-12-31  114 min  Thrillers
48    s1622    Movie           Darna Mana Hai   2019-08-01  116 min  Thrillers
51    s1684    Movie                Deewangee   2020-01-03  156 min  Thrillers
64    s1878    Movie                 Drishyam   2020-07-05  162 min  Thrillers
66    s1937    Movie            Ek Hasina Thi   2019-08-01  134 min  Thrillers
67    s1939    Movie    Ek Khiladi Ek Haseena   2019-04-15  141 min  Thrillers
70    s2152    Movie                     Fida   2020-10-13  117 min  Thrillers
103   s3275    Movie                     Kaal   2020-04-01  126 min  Thrillers
115   s3310    Movie  Karthik Calling Karthik   2019-12-15  135 min  Thrillers
119   s3460    Movie             Kucch To Hai   2019-05-15  136 min  Thrillers

In [30]:
#  Create dataframes of individual years movies in database
df= dates_df[['Title','Release_Date']]

df['Release_Date'] = pd.to_datetime(df['Release_Date'])

df['Year'] = df['Release_Date'].dt.year

specific_year=2017

filtered_df = df[df['Year'] == specific_year].reset_index(drop=True)

filtered_df[['Title', 'Release_Date']]

                                          Title Release_Date
0                                   1920 horror   2017-12-15
1                                 A Flying Jatt   2017-11-15
2                                     Baadshaho   2017-10-16
3   Baahubali 2: The Conclusion (Hindi Version)   2017-08-07
4      Baahubali: The Beginning (Hindi Version)   2017-08-07
5                               Bhool Bhulaiyaa   2017-10-22
6                                       Chaahat   2017-05-01
7                                     Chamatkar   2017-05-15
8                                        Dangal   2017-06-21
9                                  Dear Zindagi   2017-04-25
10                                      Dilwale   2017-02-01
11                                      Force 2   2017-02-27
12                       Humko Deewana Kar Gaye   2017-10-22
13                          Jab Harry Met Sejal   2017-12-02
14                                       Kaabil   2017-06-25
15                         Kabhi Haan Kabhi Naa   2017-05-15
16                               Kacche Dhaagey   2017-11-01
17                                  Lal Patthar   2017-07-01
18                                      Madaari   2017-02-17
19                                   One 2 Ka 4   2017-03-15
20                           Pyaar Ka Punchnama   2017-05-01
21                                        Raees   2017-05-26

In [31]:
specific_year=2018

filtered_df = df[df['Year'] == specific_year].reset_index(drop=True)

filtered_df[['Title', 'Release_Date']]

                       Title Release_Date
0                   2 States   2018-08-04
1               7 Khoon Maaf   2018-08-02
2                A Wednesday   2018-11-01
3                      Aamir   2018-11-01
4                     ABCD 2   2018-11-01
5   ABCD: Any Body Can Dance   2018-11-01
6                    Aitraaz   2018-03-01
7                    Aiyaary   2018-05-15
8                  Andhadhun   2018-12-16
9                     Baaghi   2018-08-04
10         Bareilly Ki Barfi   2018-08-21
11                    Barfi!   2018-11-01
12                   Barsaat   2018-04-01
13             Chalte Chalte   2018-07-01
14              Chup Chup Ke   2018-11-01
15                   Company   2018-03-01
16                   Delhi 6   2018-10-01
17          Dil Hai Tumhaara   2018-04-01
18                    Dil Se   2018-03-01
19       Dil Vil Pyaar Vyaar   2018-10-01
20            Do Dooni Chaar   2018-11-01
21                   Fashion   2018-08-02
22                      Fiza   2018-08-02
23                      Guru   2018-03-01
24                 Guzaarish   2018-08-02
25                    Haider   2018-08-02
26      Haseena Maan Jaayegi   2018-03-01
27                   Heroine   2018-11-01
28                Himmatwala   2018-11-01
29      Hum Saath-Saath Hain   2018-01-01
30              Jagga Jasoos   2018-10-01
31              Jodhaa Akbar   2018-10-01
32                  Judwaa 2   2018-03-01
33               Kai Po Che!   2018-11-01
34                     Kalki   2018-03-01
35                   Kaminey   2018-10-01
36          Khosla Ka Ghosla   2018-08-02
37         Kismat Konnection   2018-10-01
38       Life in a ... Metro   2018-11-01
39              Main Hoon Na   2018-04-01
40  Main, Meri Patni Aur Woh   2018-10-01
41           Maine Pyar Kiya   2018-01-01
42              Mohenjo Daro   2018-08-02
43           Namastey London   2018-07-01
44              Om Shanti Om   2018-04-01
45                      Race   2018-10-01
46                    Race 2   2018-10-01

In [32]:
specific_year=2019

filtered_df = df[df['Year'] == specific_year].reset_index(drop=True)

filtered_df[['Title', 'Release_Date']]

                                  Title Release_Date
0                              3 Idiots   2019-08-01
1                             Aarakshan   2019-12-31
2                    Amar Akbar Anthony   2019-12-31
3                            Article 15   2019-09-06
4                               Bewafaa   2019-07-21
5                           Bhagam Bhag   2019-12-31
6                                 Bhoot   2019-12-31
7                                 Bobby   2019-12-31
8                        Chal Mere Bhai   2019-12-31
9                         Chupke Chupke   2019-12-31
10                       Darna Mana Hai   2019-08-01
11                              Dhamaal   2019-12-31
12                       Dil Chahta Hai   2019-12-15
13                      Dil Dhadakne Do   2019-12-15
14                                  Don   2019-12-15
15                        Ek Hasina Thi   2019-08-01
16                Ek Khiladi Ek Haseena   2019-04-15
17                   Ferrari Ki Sawaari   2019-08-01
18                               Fukrey   2019-12-15
19                               Ghayal   2019-12-31
20               Golmaal: Fun Unlimited   2019-12-31
21                           Hera Pheri   2019-12-31
22                       Jhankaar Beats   2019-04-15
23                               Judwaa   2019-12-31
24                               Kaalia   2019-12-31
25                          Kabir Singh   2019-09-19
26              Karthik Calling Karthik   2019-12-15
27                      Krishna Cottage   2019-05-31
28                         Kucch To Hai   2019-05-15
29    Kyo Kii... Main Jhuth Nahin Bolta   2019-05-16
30                              Lakshya   2019-12-15
31                       Luck by Chance   2019-12-15
32                Maine Pyaar Kyun Kiya   2019-12-31
33                 Mujhse Shaadi Karogi   2019-12-31
34                         Namak Halaal   2019-12-31
35          Once Upon a Time in Mumbaai   2019-05-15
36  Once Upon a Time in Mumbai Dobaara!   2019-05-16
37                Pyaar Ke Side Effects   2019-02-15

In [33]:
specific_year=2020

filtered_df = df[df['Year'] == specific_year].reset_index(drop=True)

filtered_df[['Title', 'Release_Date']]

                         Title Release_Date
0               Action Replayy   2020-05-11
1                    Agneepath   2020-04-01
2   Ajab Prem Ki Ghazab Kahani   2020-10-25
3      Ala Vaikunthapurramuloo   2020-02-27
4              Andaz Apna Apna   2020-05-11
5      Bbuddah Hoga Terra Baap   2020-07-05
6                 Black Friday   2020-11-19
7                  Blood Money   2020-07-05
8               Bombay Talkies   2020-07-05
9                         Boss   2020-07-05
10               Break Ke Baad   2020-11-19
11                Dedh Ishqiya   2020-09-28
12                   Deewangee   2020-01-03
13                Disco Dancer   2020-10-12
14                    Drishyam   2020-07-05
15                   Duplicate   2020-04-01
16                        Fida   2020-10-13
17              Gabbar Is Back   2020-07-05
18             Golmaal Returns   2020-09-28
19             Half Girlfriend   2020-01-02
20            Hasee Toh Phasee   2020-04-01
21         Hum Aapke Hain Koun   2020-02-01
22   Humpty Sharma Ki Dulhania   2020-04-01
23                  Ishq Vishk   2020-09-28
24                  Jab We Met   2020-09-28
25                        Kaal   2020-04-01
26      Kabhi Alvida Naa Kehna   2020-04-01
27    Kabhi Khushi Kabhie Gham   2020-04-01
28               Kal Ho Naa Ho   2020-04-01
29               Kapoor & Sons   2020-04-01
30          Kuch Kuch Hota Hai   2020-04-01
31                Love Aaj Kal   2020-04-27
32        Prem Ratan Dhan Payo   2020-06-25
33        Pyaar Ka Punchnama 2   2020-07-05

In [34]:
specific_year=2021

filtered_df = df[df['Year'] == specific_year].reset_index(drop=True)

filtered_df[['Title', 'Release_Date']]

                     Title Release_Date
0                 Apaharan   2021-01-08
1             BluffMaster!   2021-01-08
2              Delhi Belly   2021-01-10
3                Gangaajal   2021-01-08
4            Hello Brother   2021-01-04
5  Jaane Tu... Ya Jaane Na   2021-01-10
6                   Lagaan   2021-01-10

In [35]:
# Create a separate dataframe with movie title and columns containing all actor names

cast_columns = movies_df['Cast'].str.split(', ', expand=True)

cast_columns.columns = [f'Actor_{i+1}' for i in range(cast_columns.shape[1])]

movies_with_actors_df = pd.concat([movies_df['Title'], cast_columns], axis=1)

movies_with_actors_df

,Title,Actor_1,Actor_2,Actor_3,Actor_4,Actor_5,Actor_6,Actor_7,Actor_8,Actor_9,Actor_10,Actor_11,Actor_12,Actor_13,Actor_14,Actor_15,Actor_16,Actor_17,Actor_18
0,1920 horror,Rajneesh Duggal,Adah Sharma,Indraneil Sengupta,Anjori Alagh,Rajendranath Zutshi,Vipin Sharma,Amin Hajee,Shri Vallabh Vyas,None,None,None,None,None,None,None,None,None,None
1,2 States,Alia Bhatt,Arjun Kapoor,Ronit Roy,Amrita Singh,Revathy,Aru Krishansh Verma,None,None,None,None,None,None,None,None,None,None,None,None
2,3 Idiots,Aamir Khan,Kareena Kapoor,Madhavan,Sharman Joshi,Omi Vaidya,Boman Irani,Mona Singh,Javed Jaffrey,None,None,None,None,None,None,None,None,None,None
3,7 Khoon Maaf,Priyanka Chopra,Neil Nitin Mukesh,John Abraham,Irrfan Khan,Aleksandr Dyachenko,Annu Kapoor,Naseeruddin Shah,Vivaan Shah,Usha Uthup,Konkona Sen Sharma,None,None,None,None,None,None,None,None
4,A Flying Jatt,Tiger Shroff,Jacqueline Fernandez,Nathan Jones,Kay Kay Menon,Amrita Singh,Gaurav Pandey,Shraddha Kapoor,Amrita Puri,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Pyaar Ka Punchnama 2,Kartik Aaryan,Nushrat Bharucha,Sonalli Sehgall,Sunny Singh,Ishita Raj,Omkar Kapoor,Sharat Saxena,Mona Ambegaonkar,None,None,None,None,None,None,None,None,None,None
144,Pyaar Ke Side Effects,Rahul Bose,Mallika Sherawat,Ranvir Shorey,Sharat Saxena,Aamir Bashir,Taraana Raja,Jas Arora,Suchitra Pillai,Sapna Bhavnani,Sophiya Chaudhary,None,None,None,None,None,None,None,None
145,Race,Saif Ali Khan,Akshaye Khanna,Katrina Kaif,Bipasha Basu,Anil Kapoor,Sameera Reddy,None,None,None,None,None,None,None,None,None,None,None,None
146,Race 2,Anil Kapoor,Saif Ali Khan,John Abraham,Deepika Padukone,Jacqueline Fernandez,Ameesha Patel,Rajesh Khattar,Chunky Pandey,None,None,None,None,None,None,None,None,None,None
147,Raees,Shah Rukh Khan,Mahira Khan,Nawazuddin Siddiqui,Mohammed Zeeshan Ayyub,Sheeba Chaddha,Shubham Chintamani,Shubham Tukaram,Atul Kulkarni,Narendra Jha,Jaideep Ahlawat,Sunny Leone,None,None,None,None,None,None,None

In [36]:
# Create a dataframe of movies whose names starting with 'B'

df_movies_starting_with_B = movies_df[movies_df['Title'].str.startswith('B')].reset_index(drop=True)

df_movies_starting_with_B

,Show_Id,Category,Title,Director,Cast,Country
0,s655,Movie,Baadshaho,Milan Luthria,"Ajay Devgn, Emraan Hashmi, Vidyut Jamwal, Ilea...",India
1,s656,Movie,Baaghi,Sabir Khan,"Tiger Shroff, Shraddha Kapoor, Sudheer Babu, P...",India
2,s657,Movie,Baahubali 2: The Conclusion (Hindi Version),S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty, Taman...",India
3,s661,Movie,Baahubali: The Beginning (Hindi Version),S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty, Taman...",India
4,s752,Movie,Bareilly Ki Barfi,Ashwiny Iyer Tiwari,"Ayushmann Khurrana, Kriti Sanon, Rajkummar Rao...",India
5,s754,Movie,Barfi!,Anurag Basu,"Ranbir Kapoor, Priyanka Chopra, Ileana D'Cruz,...",India
6,s757,Movie,Barsaat,Rajkumar Santoshi,"Twinkle Khanna, Bobby Deol, Danny Denzongpa, R...",India
7,s775,Movie,Bbuddah Hoga Terra Baap,Puri Jagannadh,"Amitabh Bachchan, Hema Malini, Raveena Tandon,...",India
8,s867,Movie,Bewafaa,Dharmesh Darshan,"Anil Kapoor, Akshay Kumar, Kareena Kapoor, Sus...",India
9,s883,Movie,Bhagam Bhag,Priyadarshan,"Akshay Kumar, Govinda, Lara Dutta, Paresh Rawa...",India
10,s892,Movie,Bhool Bhulaiyaa,Priyadarshan,"Akshay Kumar, Vidya Balan, Ameesha Patel, Shin...",India
11,s893,Movie,Bhoot,Ram Gopal Varma,"Ajay Devgn, Urmila Matondkar, Nana Patekar, Re...",India
12,s951,Movie,Black Friday,Anurag Kashyap,"Pavan Malhotra, Kay Kay Menon, Aditya Srivasta...",India
13,s988,Movie,Blood Money,Vishal Mahadkar,"Manish Chaudhary, Kunal Kemmu, Amrita Puri, Sh...",India
14,s1005,Movie,BluffMaster!,Rohan Sippy,"Abhishek Bachchan, Priyanka Chopra, Riteish De...",India
15,s1017,Movie,Bobby,Raj Kapoor,"Rishi Kapoor, Dimple Kapadia, Pran, Prem Nath,...",India
16,s1034,Movie,Bombay Talkies,"Anurag Kashyap, Dibakar Banerjee, Karan Johar,...","Rani Mukerji, Randeep Hooda, Saqib Saleem, Naw...",India
17,s1060,Movie,Boss,Anthony D'Souza,"Akshay Kumar, Ronit Roy, Shiv Pandit, Mithun C...",India
18,s1087,Movie,Break Ke Baad,Danish Aslam,"Imran Khan, Deepika Padukone, Shahana Goswami,...",India

In [37]:
# Which movies have duration more than 150 min

dates_df['Duration']= dates_df['Duration'].str.replace(' min', '').astype(int)

df_long_duration = dates_df[dates_df['Duration'] > 150].reset_index(drop=True)

df_long_duration

,Show_Id,Category,Title,Release_Date,Duration,Type
0,s101,Movie,3 Idiots,2019-08-01,164,"[Comedies, Dramas, International Movies]"
1,s272,Movie,Aarakshan,2019-12-31,164,"[Dramas, International Movies]"
2,s344,Movie,Agneepath,2020-04-01,174,"[Dramas, International Movies]"
3,s355,Movie,Aitraaz,2018-03-01,153,"[International Movies, Music & Musicals, Roman..."
4,s356,Movie,Aiyaary,2018-05-15,158,"[Action & Adventure, Dramas, International Mov..."
5,s369,Movie,Ala Vaikunthapurramuloo,2020-02-27,162,"[Action & Adventure, Comedies, Dramas]"
6,s447,Movie,Amar Akbar Anthony,2019-12-31,172,"[Action & Adventure, Classic Movies, Comedies]"
7,s508,Movie,Andaz Apna Apna,2020-05-11,160,"[Action & Adventure, Comedies, Cult Movies]"
8,s561,Movie,Apaharan,2021-01-08,161,"[Dramas, International Movies]"
9,s657,Movie,Baahubali 2: The Conclusion (Hindi Version),2017-08-07,165,"[Action & Adventure, Dramas, International Mov..."
10,s661,Movie,Baahubali: The Beginning (Hindi Version),2017-08-07,159,"[Action & Adventure, Dramas, International Mov..."
11,s757,Movie,Barsaat,2018-04-01,166,"[Action & Adventure, International Movies, Mus..."
12,s883,Movie,Bhagam Bhag,2019-12-31,151,"[Comedies, International Movies, Romantic Movies]"
13,s951,Movie,Black Friday,2020-11-19,162,"[Dramas, International Movies]"
14,s1017,Movie,Bobby,2019-12-31,168,"[Classic Movies, Dramas, International Movies]"
15,s1266,Movie,Chalte Chalte,2018-07-01,166,"[Dramas, International Movies, Romantic Movies]"
16,s1268,Movie,Chamatkar,2017-05-15,164,"[Comedies, International Movies, Sci-Fi & Fant..."
17,s1384,Movie,Chup Chup Ke,2018-11-01,158,"[Comedies, Dramas, International Movies]"
18,s1596,Movie,Dangal,2017-06-21,161,"[Dramas, International Movies, Sports Movies]"
19,s1684,Movie,Deewangee,2020-01-03,156,"[International Movies, Thrillers]"
20,s1758,Movie,Dil Chahta Hai,2019-12-15,185,"[Comedies, Dramas, International Movies]"
21,s1759,Movie,Dil Dhadakne Do,2019-12-15,174,"[Comedies, Dramas, International Movies]"
22,s1760,Movie,Dil Hai Tumhaara,2018-04-01,176,"[Dramas, International Movies, Music & Musicals]"
23,s1761,Movie,Dil Se,2018-03-01,166,"[Dramas, International Movies, Romantic Movies]"
24,s1765,Movie,Dilwale,2017-02-01,154,"[Action & Adventure, Dramas, International Mov..."
25,s1808,Movie,Don,2019-12-15,169,"[Action & Adventure, International Movies]"
26,s1878,Movie,Drishyam,2020-07-05,162,"[Dramas, International Movies, Thrillers]"
27,s1897,Movie,Duplicate,2020-04-01,165,"[Comedies, Dramas, International Movies]"
28,s2120,Movie,Fashion,2018-08-02,158,"[Dramas, International Movies]"
29,s2201,Movie,Fiza,2018-08-02,163,"[Dramas, International Movies, Music & Musicals]"
30,s2394,Movie,Ghayal,2019-12-31,163,"[Action & Adventure, Dramas, International Mov..."
31,s2559,Movie,Guru,2018-03-01,155,"[Dramas, International Movies]"
32,s2576,Movie,Haider,2018-08-02,154,"[Dramas, International Movies, Romantic Movies]"
33,s2644,Movie,Haseena Maan Jaayegi,2018-03-01,151,"[Action & Adventure, Comedies, Dramas]"
34,s2704,Movie,Hera Pheri,2019-12-31,156,"[Action & Adventure, Comedies, Dramas]"
35,s2860,Movie,Hum Aapke Hain Koun,2020-02-01,193,"[Classic Movies, Dramas, International Movies]"
36,s2861,Movie,Hum Saath-Saath Hain,2018-01-01,176,"[Dramas, International Movies, Music & Musicals]"
37,s3111,Movie,Jagga Jasoos,2018-10-01,155,"[Action & Adventure, Comedies, International M..."
38,s3196,Movie,Jodhaa Akbar,2018-10-01,214,"[Action & Adventure, Dramas, International Mov..."
39,s3277,Movie,Kaalia,2019-12-31,173,"[Action & Adventure, Dramas, International Mov..."
40,s3281,Movie,Kabhi Alvida Naa Kehna,2020-04-01,192,"[Dramas, International Movies, Romantic Movies]"
41,s3282,Movie,Kabhi Haan Kabhi Naa,2017-05-15,151,"[Comedies, Dramas, International Movies]"
42,s3283,Movie,Kabhi Khushi Kabhie Gham,2020-04-01,209,"[Dramas, International Movies]"
43,s3284,Movie,Kabir Singh,2019-09-19,171,"[Dramas, International Movies, Romantic Movies]"
44,s3291,Movie,Kal Ho Naa Ho,2020-04-01,187,"[Comedies, Dramas, International Movies]"
45,s3461,Movie,Kuch Kuch Hota Hai,2020-04-01,185,"[Comedies, Dramas, International Movies]"
46,s3522,Movie,Lagaan,2021-01-10,224,"[Dramas, International Movies, Music & Musicals]"
47,s3525,Movie,Lakshya,2019-12-15,185,"[Action & Adventure, Dramas, International Mov..."
48,s3526,Movie,Lal Patthar,2017-07-01,153,"[Classic Movies, Dramas, International Movies]"
49,s3809,Movie,Luck by Chance,2019-12-15,156,"[Dramas, International Movies, Romantic Movies]"
50,s3873,Movie,Main Hoon Na,2018-04-01,171,"[Action & Adventure, Comedies, Dramas]"
51,s3876,Movie,Maine Pyar Kiya,2018-01-01,192,"[Dramas, International Movies, Music & Musicals]"
52,s4165,Movie,Mohenjo Daro,2018-08-02,168,"[Action & Adventure, Dramas, International Mov..."
53,s4274,Movie,Mujhse Shaadi Karogi,2019-12-31,158,"[Comedies, International Movies, Romantic Movies]"
54,s4396,Movie,Namak Halaal,2019-12-31,171,"[Action & Adventure, Comedies, International M..."
55,s4609,Movie,Om Shanti Om,2018-04-01,169,"[Comedies, Dramas, International Movies]"
56,s4637,Movie,One 2 Ka 4,2017-03-15,160,"[Action & Adventure, Comedies, Dramas]"
57,s4962,Movie,Prem Ratan Dhan Payo,2020-06-25,164,"[Action & Adventure, Dramas, International Mov..."
58,s5053,Movie,Race,2018-10-01,155,"[Action & Adventure, International Movies, Mus..."